*.o
*.obj
*.exe
*.a
src/config.h
macosx/eFTE.xcodeproj/project.xcworkspace/
macosx/eFTE.xcodeproj/xcuserdata/
macosx/build/
src/.depend.mak
src/bin2c
src/config.h
src/defcfg.h
src/nefte
src/vefte
src/efte

