[Desktop Entry]
Name=eFTE
Version=1.1
GenericName=Text Editor
GenericName[cz]=Textový editor
GenericName[de]=Texteditor
GenericName[en_US@piglatin]=Extay Editoray
GenericName[eo]=Tekstredaktilo
GenericName[et]=Tekstiredaktor
GenericName[fi]=Tekstieditori
GenericName[fr]=Editeur de texte
GenericName[it]=Editor di testo
GenericName[ja]=テキストエディタ
GenericName[nl]=Tekst editor
GenericName[pl]=Edytor tekstu
GenericName[sv]=Textredigerare
Comment=Fast, extendable programmers' text editor
Comment[cz]=Rychlý a rozšiřitelný textový editor pro programátory
Comment[de]=Schneller, erweiterbarer Texteditor für Programmierer
Comment[en_US@piglatin]=Astfay extendableay rogrammerspay exttay editoray
Comment[eo]=Rapida, etendabla tekstredaktilo por programado
Comment[et]=Kiire, paindlik programmeerijate tekstiredaktor
Comment[fi]=Nopea, laajennettava ohjelmoijien tekstieditori
Comment[it]=Veloce, espandibile editor di programmi
Comment[ja]=高速で、拡張可能なプログラマー向けテキストエディタ
Comment[fr]=Editeur rapide et extensible, pour les programmeurs
Comment[nl]=Snelle, uitbreidbare tekst editor voor programmeurs
Comment[pl]=Szybki, zaawansowany i elastyczny edytor tekstu dla programistów
Comment[sv]=Snabb, utbyggbar textredigerare för programmerare
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=efte %f
Icon=efte
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupWMClass=Efte
